<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Connect</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body class="text-center">
<header>
    <h2>Gestionnaire de contacts</h2>
    <h3 th:text="${message}" class="text-center"></h3>
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
</header>

<main>
    <section class="container">
        <form action="#" th:action="@{/connection/}" method="post">
            <div class="row g-3 align-items-center text-center">
                <div class="col-auto">
                    <label for="email" class="col-form-label">E-mail </label>
                </div>
                <div class="col-auto">
                    <input id="email" name="email" type="text" th:value="${email}" class="form-control">
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="password" class="col-form-label">Mot de Passe</label>
                </div>
                <div class="col-auto">
                    <input id="password" name="password" type="text" th:value="${password}" class="form-control">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Se connecter</button>

        </form>
        <div>
            <p>Pas encore inscrit?<a th:href="@{/connection/register}"> C'est par ici!</a></p>
        </div>
    </section>
</main>
</body>
</html>