<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Gestionnaire de contacts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div th:replace="~{include/navbar :: navbar}">la nav</div>
    <h3 th:text="${contact.firstname} + ' ' + ${contact.lastname}" class="text-center">titre</h3>
</header>
<section>
    <div class="container">
        <table class="table">
            <tbody>
            <tr class="table-primary">
                <th scope="col">E-mail</th>
                <th scope="row" th:text="${contact.email}"></th>
            </tr>
            <tr>
                <th scope="col">Téléphone</th>
                <th scope="row" th:text="${contact.phone}"></th>
            </tr>
            </tbody>
        </table>
                <p th:text="${contact.description}"></p>
                <p><a th:href="@{/contact/update/}+${contact.id}" >Modifier le contact</a></p>
            <div class="p-5"></div>
        <div>
                <h4>Liste des relations:</h4>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Lien</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="l:${contact.relations}">
                    <td th:text="${l.lien}"></td>
                    <td th:text="${l.contactSortie.firstname}"></td>
                    <td th:text="${l.contactSortie.lastname}"></td>
                    <td><a th:href="@{/contact/list/}+${l.contactSortie.id}">Voir Contact</a></td>
                    <td><a th:href="@{/contact/update/relation/}+${l.contactEntree.id}+@{/update/}+${l.id}">Modifier</a></td>
                    <td><a th:href="@{/contact/update/relation/}+${l.id}+@{/delete}" class="btn-close" aria-label="supprimer la relation"></a></td>
                </tr>
                </tbody>
            </table>
            <a th:href="@{/contact/update/relation/}+${contact.id}" class="btn btn-primary">Ajouter une relation</a>
        </table>
    </div>
</section>
</body>
</html>